@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  color: #ffffff; /* Başlıklar tam beyaz olsun ki okunsun */
}

/* ---> MAIN CONTAINER <--- */
main {
  background-color: #1e1e1e;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 650px;
  padding: 30px;
  gap: 25px;
}

@media (max-width: 650px) {
  main {
    flex-direction: column;
    width: 95%;
    margin: 10px;
  }
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* --> LEFT CONTAINER <-- */
.profile-side {
  gap: 25px;
}

.profile-side h2 {
  font-size: 15px;
  margin-bottom: 7px;
}

/* Header Info*/
.header-info {
  display: flex;
  gap: 10px;
}

.header-info img {
  width: 90px;
  height: auto;
  border-radius: 45px;
}

.title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

h1 {
  font-size: 25px;
  letter-spacing: 1px;
}

.header-info p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}

/* Links */
.links ul {
  list-style-type: none;
}

.links li {
  margin-bottom: 15px;
}

.links li:last-child {
  margin-bottom: 0;
}

.links a:link,
.links a:visited {
  color: #00adb5;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.links a:hover {
  color: #00fff2;
  padding-left: 8px;
  border-left: 2px solid #00fff2;
}

/* --> RIGHT CONTAINER <-- */
.skills-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-side h2 {
  font-size: 15px;
}

/* Skills Container */
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Articles */
article {
  display: flex;
  gap: 10px;
  background-color: #252525;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 15px;
  transition: all 0.3s ease;
}

article:hover {
  background-color: #2d2d2d;
  border-color: #00adb5;
  transform: translateX(5px);
}

article img {
  width: 55px;
  height: auto;
  border-radius: 2px;
}

article h3 {
  font-size: 12px;
}

article p {
  color: #b3b3b3;
}
